In [1]:
import numpy as np
import pandas as pd
import torch

from torch.utils.data import Dataset, DataLoader, TensorDataset

In [2]:
# Sem Vazamento
folder = 'dataset/'

df1 = pd.read_csv(folder + 'data_1.csv', header=None)#.iloc[:, 0:36]
df2 = pd.read_csv(folder + 'data_2.csv', header=None)#.iloc[:, 0:36]
df3 = pd.read_csv(folder + 'data_3.csv', header=None)#.iloc[:, 0:36]  *
df4 = pd.read_csv(folder + 'data_4.csv', header=None)#.iloc[:, 0:36]
df5 = pd.read_csv(folder + 'data_5.csv', header=None)#.iloc[:, 0:36]
df6 = pd.read_csv(folder + 'data_6.csv', header=None)#.iloc[:, 0:36]
df7 = pd.read_csv(folder + 'data_7.csv', header=None)#.iloc[:, 0:36] *
df8 = pd.read_csv(folder + 'data_8.csv', header=None)#.iloc[:, 0:36]
df9 = pd.read_csv(folder + 'data_9.csv', header=None)#.iloc[:, 0:36] *

# Vazamento dia inteiro nó 12
df10 = pd.read_csv(folder + 'data_10.csv', header=None)#.iloc[:, 0:36]
df11 = pd.read_csv(folder + 'data_11.csv', header=None)#.iloc[:, 0:36]
df12 = pd.read_csv(folder + 'data_12.csv', header=None)#.iloc[:, 0:36]

# Vazamento meio dia inteiro nó 12
df13 = pd.read_csv(folder + 'data_13.csv', header=None)#.iloc[:, 0:36]
df14 = pd.read_csv(folder + 'data_14.csv', header=None)#.iloc[:, 0:36]
df15 = pd.read_csv(folder + 'data_15.csv', header=None)#.iloc[:, 0:36]

# Vazamento dia inteiro nó 14
df16 = pd.read_csv(folder + 'data_16.csv', header=None)#.iloc[:, 0:36]
df17 = pd.read_csv(folder + 'data_17.csv', header=None)#.iloc[:, 0:36]
df18 = pd.read_csv(folder + 'data_18.csv', header=None)#.iloc[:, 0:36]

# Vazamento meio dia inteiro nó 114
df19 = pd.read_csv(folder + 'data_19.csv', header=None)#.iloc[:, 0:36]
df20 = pd.read_csv(folder + 'data_20.csv', header=None)#.iloc[:, 0:36]
df21 = pd.read_csv(folder + 'data_21.csv', header=None)#.iloc[:, 0:36]

#Msj = pd.read_csv('Mat-adj-sem-junc.csv')
Mcj = pd.read_csv(folder + 'Mat-adj-com-junc.csv')

# Dados antigos 0305

df22 = pd.read_csv(folder + 'data_1_1.csv', header=None)#.iloc[:, 0:36]
df23 = pd.read_csv(folder + 'data_2_1.csv', header=None)#.iloc[:, 0:36]
df24 = pd.read_csv(folder + 'data_3_1.csv', header=None)#.iloc[:, 0:36]
df25 = pd.read_csv(folder + 'data_4_1.csv', header=None)#.iloc[:, 0:36]
df26 = pd.read_csv(folder + 'data_5_1.csv', header=None)#.iloc[:, 0:36]
df27 = pd.read_csv(folder + 'data_6_1.csv', header=None)#.iloc[:, 0:36]
df28 = pd.read_csv(folder + 'data_7_1.csv', header=None)#.iloc[:, 0:36]
df29 = pd.read_csv(folder + 'data_8_1.csv', header=None)#.iloc[:, 0:36]
df30 = pd.read_csv(folder + 'data_9_1.csv', header=None)#.iloc[:, 0:36]




Header_tm = ['T(s)'] # 0
Header_vz = ['VZ2','VZ3','VZ4','VZ5','VZ6','VZ7','VZ8','VZ9'] # 1 - 9
Header_v = ['V2','V3','V4','V5','V6','V7','V8','V9'] # 10 - 17
Header_p = ['P2','P3','P4','P5','P6','P7','P8','P9'] # 18 - 25
Header_alpha1 = ['ap1_2','ap1_3','ap1_4','ap1_5','ap1_6','ap1_7','ap1_8','ap1_9'] # 26 - 33
Header_alpha2 = ['ap2_2','ap2_3','ap2_4','ap2_5','ap2_6','ap2_7','ap2_8','ap2_9'] # 34 - 41
Header_x = ['x2', 'x3', 'x4', 'x5','x6', 'x7', 'x8', 'x9'] # 42 - 49
Header_y = ['y2', 'y3', 'y4', 'y5','y6', 'y7', 'y8', 'y9'] # 50 - 57
Header_z = ['z2', 'z3', 'z4', 'z5','z6', 'z7', 'z8', 'z9'] # 58 - 65
Header_Lb = ['Lb_12', 'Lb_14'] # 66 - 67
Header_1214 = ['x12', 'x14', 'y12', 'y14', 'z12', 'z14'] # 68 - 73
Header_Week = ['week_day'] # 74

Header = Header_tm + Header_vz + Header_v + Header_p + Header_alpha1 + Header_alpha2 + Header_x + Header_y + Header_z + Header_Lb + Header_1214 + Header_Week


#Header = ['T(s)',,'P2','P7','P9','P12','P14' ,'V2',
 #         'V7','V9','V12','V14','X2', 'X7', 'X9', 'X12', 'X14', 'Y2', 'Y7', 'Y9',
  #        'Y12', 'Y14', 'Z2', 'Z7', 'Z9', 'Z12', 'Z14','LB3', 'LB5', 'LB9', 'LB11', 'LB13' ]

In [3]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:

fig_size = plt.rcParams["figure.figsize"]
fig_size[0] = 15
fig_size[1] = 5
plt.rcParams["figure.figsize"] = fig_size

In [5]:
'''
plt.title('Time x Pressure')
plt.ylabel('Pressure')
plt.xlabel('Time(s)')
plt.grid(True)
plt.autoscale(axis='x',tight=True)
#plt.plot(DataN[0])
plt.plot(df7['P2'])
'''

"\nplt.title('Time x Pressure')\nplt.ylabel('Pressure')\nplt.xlabel('Time(s)')\nplt.grid(True)\nplt.autoscale(axis='x',tight=True)\n#plt.plot(DataN[0])\nplt.plot(df7['P2'])\n"

In [6]:

# Nomalização dos dados - "opcional"

from sklearn import preprocessing

def Norm(Data):
    x = Data.values #returns a numpy array
    min_max_scaler = preprocessing.MinMaxScaler()
    x_scaled = min_max_scaler.fit_transform(x)
    Data = pd.DataFrame(x_scaled)
    
    return Data

In [7]:
'''
df_time = df1[0]

df1 = Norm(df1)
df2 = Norm(df2)
df3 = Norm(df3)
df4 = Norm(df1)
df5 = Norm(df2)
df6 = Norm(df3)
df7 = Norm(df1)
df8 = Norm(df2)
df9 = Norm(df3)
'''
#df1.columns = df2.columns = df3.columns = df4.columns = df5.columns \
#= df6.columns = df7.columns = df8.columns = df9.columns = df10.columns = df11.columns = df12.columns \

df3.columns = df7.columns = df9.columns = df10.columns = df11.columns = df12.columns \
= df13.columns = df14.columns = df15.columns = df16.columns = df17.columns = df18.columns = df19.columns \
= df20.columns = df21.columns = df22.columns = df23.columns = df24.columns = df25.columns \
= df26.columns = df27.columns = df28.columns = df29.columns = df30.columns = Header

#df1['T(s)'] = df2['T(s)'] = df3['T(s)'] = df4['T(s)'] = df5['T(s)'] = df6['T(s)'] = df7['T(s)'] = df8['T(s)'] = df9['T(s)'] = df_time

In [8]:
'''
df1['week_day'] = '2021-01-01'
df2['week_day'] = '2021-01-02'
df3['week_day'] = '2021-01-03'
df4['week_day'] = '2021-01-04'
df5['week_day'] = '2021-01-05'
df6['week_day'] = '2021-01-06'
df7['week_day'] = '2021-01-07'
df8['week_day'] = '2021-01-08'
df9['week_day'] = '2021-01-09'
'''

"\ndf1['week_day'] = '2021-01-01'\ndf2['week_day'] = '2021-01-02'\ndf3['week_day'] = '2021-01-03'\ndf4['week_day'] = '2021-01-04'\ndf5['week_day'] = '2021-01-05'\ndf6['week_day'] = '2021-01-06'\ndf7['week_day'] = '2021-01-07'\ndf8['week_day'] = '2021-01-08'\ndf9['week_day'] = '2021-01-09'\n"

In [9]:
df41 = df4[50:]
df71 = df7[50:]
df51 = df5[50:]
df81 = df8[50:]
df61 = df6[50:]
df91 = df9[50:]

In [10]:
#Frames = [ df41, df71, df51, df81, df61, df91]
#Frames = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, \
 #         df15, df16, df17, df18, df19, df20, df21]#, df22, df23, df24, df25, df26, df27, df28, df29, df30]

Frames = [df3, df7, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25, df26, df27, df28, df29, df30] 
    
#Frames = [df3, df7, df9, df10, df11, df12, df13, df14, \
 #         df15, df16, df17, df18, df19, df20, df21]    

Data = pd.concat(Frames, ignore_index=True)
Data_T = Data['T(s)']

In [11]:
Data

,T(s),VZ2,VZ3,VZ4,VZ5,VZ6,VZ7,VZ8,VZ9,V2,...,z9,Lb_12,Lb_14,x12,x14,y12,y14,z12,z14,week_day
0,0,1.05,0.30,0.4,0.15,0.2,1.05,0.35,0.70,53.808,...,0,0,0,0,0,0.0,0,0,0,1
1,600,1.05,0.30,0.4,0.15,0.2,1.05,0.35,0.70,53.808,...,0,0,0,0,0,0.0,0,0,0,1
2,1200,1.05,0.30,0.4,0.15,0.2,1.05,0.35,0.70,53.808,...,0,0,0,0,0,0.0,0,0,0,1
3,1800,1.05,0.30,0.4,0.15,0.2,1.05,0.35,0.70,53.808,...,0,0,0,0,0,0.0,0,0,0,1
4,2400,1.05,0.30,0.4,0.15,0.2,1.05,0.35,0.70,53.808,...,0,0,0,0,0,0.0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3475,84000,6.50,0.45,0.4,0.45,1.2,6.50,5.65,0.85,44.813,...,0,0,1,0,129,0.0,103,0,0,1
3476,84600,6.50,0.45,0.4,0.45,1.2,6.50,5.65,0.85,44.813,...,0,0,1,0,129,0.0,103,0,0,1
3477,85200,6.50,0.45,0.4,0.45,1.2,6.50,5.65,0.85,44.813,...,0,0,1,0,129,0.0,103,0,0,1
3478,85800,6.50,0.45,0.4,0.45,1.2,6.50,5.65,0.85,44.813,...,0,0,1,0,129,0.0,103,0,0,1
3479,86400,1.45,0.15,0.4,0.30,0.6,1.45,0.90,0.55,51.642,...,0,0,1,0,129,0.0,103,0,0,1

In [12]:
Data = Norm(Data)

Data.columns = Header

In [13]:
Data.head()

,T(s),VZ2,VZ3,VZ4,VZ5,VZ6,VZ7,VZ8,VZ9,V2,...,z9,Lb_12,Lb_14,x12,x14,y12,y14,z12,z14,week_day
0,0.000000,0.010906,0.066667,0.066674,0.033437,0.033377,0.010906,0.003564,0.024598,0.925134,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.006944,0.010906,0.066667,0.066674,0.033437,0.033377,0.010906,0.003564,0.024598,0.925134,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.013889,0.010906,0.066667,0.066674,0.033437,0.033377,0.010906,0.003564,0.024598,0.925134,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.020833,0.010906,0.066667,0.066674,0.033437,0.033377,0.010906,0.003564,0.024598,0.925134,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.027778,0.010906,0.066667,0.066674,0.033437,0.033377,0.010906,0.003564,0.024598,0.925134,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
Data.columns

Index(['T(s)', 'VZ2', 'VZ3', 'VZ4', 'VZ5', 'VZ6', 'VZ7', 'VZ8', 'VZ9', 'V2',
       'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'P2', 'P3', 'P4', 'P5', 'P6',
       'P7', 'P8', 'P9', 'ap1_2', 'ap1_3', 'ap1_4', 'ap1_5', 'ap1_6', 'ap1_7',
       'ap1_8', 'ap1_9', 'ap2_2', 'ap2_3', 'ap2_4', 'ap2_5', 'ap2_6', 'ap2_7',
       'ap2_8', 'ap2_9', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8', 'x9', 'y2',
       'y3', 'y4', 'y5', 'y6', 'y7', 'y8', 'y9', 'z2', 'z3', 'z4', 'z5', 'z6',
       'z7', 'z8', 'z9', 'Lb_12', 'Lb_14', 'x12', 'x14', 'y12', 'y14', 'z12',
       'z14', 'week_day'],
      dtype='object')

In [15]:
Data['T(s)'] = pd.DataFrame(Data_T).values

In [16]:
Data.head()

,T(s),VZ2,VZ3,VZ4,VZ5,VZ6,VZ7,VZ8,VZ9,V2,...,z9,Lb_12,Lb_14,x12,x14,y12,y14,z12,z14,week_day
0,0,0.010906,0.066667,0.066674,0.033437,0.033377,0.010906,0.003564,0.024598,0.925134,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,600,0.010906,0.066667,0.066674,0.033437,0.033377,0.010906,0.003564,0.024598,0.925134,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1200,0.010906,0.066667,0.066674,0.033437,0.033377,0.010906,0.003564,0.024598,0.925134,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1800,0.010906,0.066667,0.066674,0.033437,0.033377,0.010906,0.003564,0.024598,0.925134,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2400,0.010906,0.066667,0.066674,0.033437,0.033377,0.010906,0.003564,0.024598,0.925134,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
Data.loc[Data['Lb_12'] == 1,  'label'] = 2 
Data.loc[Data['Lb_14'] == 1,  'label'] = 5   
Data.loc[(Data['Lb_14'] == 0) & (Data['Lb_12'] == 0), 'label'] = 0

#df1.loc[df1['Lb_12'] == 1,  'label'] = 12 
#df1.loc[df1['Lb_14'] == 1,  'label'] = 14 
#df1.loc[(df1['Lb_14'] == 0) & (df1['Lb_12'] == 0), 'label'] = 0

In [18]:
Data['label'].unique()

array([0., 2., 5.])

In [19]:
'''
# Adicionar uma coluna com o label dos dados, seguindo a sequencia da matriz de adjacências.
df1.columns = df2.columns = df3.columns = Header
df1['Label'] = 0
df2['Label'] = 7
df3['Label'] = 14

Frames = [df1, df2, df3]
Data = pd.concat(Frames)

Data.head(2)

'''

"\n# Adicionar uma coluna com o label dos dados, seguindo a sequencia da matriz de adjacências.\ndf1.columns = df2.columns = df3.columns = Header\ndf1['Label'] = 0\ndf2['Label'] = 7\ndf3['Label'] = 14\n\nFrames = [df1, df2, df3]\nData = pd.concat(Frames)\n\nData.head(2)\n\n"

In [20]:

# Shuffle 'Opcional'
#Data = Data.sample(frac = 1)
#Data.head(2)

In [21]:





# Juntar os dados de acordo com as colunas
'''
Data['N0'] = Data[['P2', 'ap1_2', 'ap2_2']].values.tolist()
Data['N1'] = Data[['P7', 'ap1_7', 'ap2_7']].values.tolist()
Data['N2'] = Data[['P8', 'ap1_8', 'ap2_8']].values.tolist()
Data['N3'] = Data[['P9', 'ap1_9', 'ap2_9']].values.tolist()
Data['N4'] = Data[['P3', 'ap1_3', 'ap2_3']].values.tolist()
Data['N5'] = Data[['P4', 'ap1_4', 'ap2_4']].values.tolist()
Data['N6'] = Data[['P5', 'ap1_5', 'ap2_5']].values.tolist()
Data['N7'] = Data[['P6', 'ap1_6', 'ap2_6']].values.tolist()
'''

Data['N0'] = Data[['P2']].values.tolist()
Data['N1'] = Data[['P7']].values.tolist()
Data['N2'] = Data[['P8']].values.tolist()
Data['N3'] = Data[['P9']].values.tolist()
Data['N4'] = Data[['P3']].values.tolist()
Data['N5'] = Data[['P4']].values.tolist()
Data['N6'] = Data[['P5']].values.tolist()
Data['N7'] = Data[['P6']].values.tolist()

'''

Data['N0'] = Data[['P2']].values.tolist()
#Data['N1'] = Data[['P7']].values.tolist()
#Data['N2'] = Data[['P8']].values.tolist()
#Data['N3'] = Data[['P9']].values.tolist()
Data['N1'] = Data[['P3']].values.tolist()
Data['N2'] = Data[['P4']].values.tolist()
Data['N3'] = Data[['P5']].values.tolist()
Data['N4'] = Data[['P6']].values.tolist()
'''


# Equivalencia:
# N2 = N0
# N7 = N1
# N8 = N2
# N9 = N3
# N3 = N4
# N4 = N5
# N5 = N6
# N6 = N7

# criando um novo dataset e separando em Data e Label.
NHeader = ['N0', 'N1', 'N2', 'N3', 'N4', 'N5', 'N6', 'N7']
#NHeader = ['N0', 'N1', 'N2', 'N3', 'N4']
DataN = Data[NHeader]

Label = Data['label']
Label = pd.DataFrame(Label)

In [22]:
#Header_p = ['P2','P7','P8','P9','P3','P4','P5','P6'] 
#HeaderN = ['T(s)' , 'week_day']
#Headerdata = Header_p + HeaderN

#DataN = Data[Header_p]

#Label = Data['label']
#Label = pd.DataFrame(Label)

In [23]:
DataN.head(2)

,N0,N1,N2,N3,N4,N5,N6,N7
0,[0.010906185878308175],[0.010906185878308175],[0.0035639314085803356],[0.024598159031483352],[0.06666670650755385],[0.06667367034744438],[0.033437051981408714],[0.03337719062123286]
1,[0.010906185878308175],[0.010906185878308175],[0.0035639314085803356],[0.024598159031483352],[0.06666670650755385],[0.06667367034744438],[0.033437051981408714],[0.03337719062123286]

In [24]:

DataN = DataN.to_numpy()
Label = Label.to_numpy()

from sklearn.model_selection import train_test_split

# Separar os dataset em treino, teste e validação nas proporções (70%, 15%, 15%)
train_ratio = 0.75
val_ratio = test_ratio = 0.25

x_train, x_test, y_train, y_test = train_test_split(DataN, Label, test_size = 1 - train_ratio, shuffle=True)
#testSize = (test_ratio/(test_ratio + val_ratio))
#x_val, x_test, y_val, y_test = train_test_split(x_test, y_test, test_size = testSize, shuffle=False)

In [25]:
def Tensor_Dataset1(x, y):

    # z = Como o algoritmo trabalha com multiplas topologias e o nosso tem apenas uma, 
    # criei um tensor que linka todos os dados a nossa matriz adjacência


    e = []
    z = torch.tensor(1, dtype=torch.int32) 
    A = []
    for a in range(np.shape(x)[0]):
        d = []
        for b in range(np.shape(x)[1]):
            c = np.array(x[a][b])        
            d.append(c)
            #print('d',d)
        e.append(d)
        A.append(z)
    
    y_ = []
    for i in y:
        #y_.append(y[i].item())
        y_.append(i.item())
        
    e1 = torch.Tensor(e).type(torch.double)   # X
    f1 = torch.LongTensor(y_)                 # Label
    A1 = torch.LongTensor(A)                  # Localização matriz Adjacência
    
    
    my_dataset = TensorDataset(e1, f1, A1)

    # my_dataset[0] - [X, Y, A]

    return my_dataset

In [26]:
TrainDataset = Tensor_Dataset1(x_train, y_train) 
TestDataset = Tensor_Dataset1(x_test, y_test)
#UnrelatedDataset = Tensor_Dataset1(x_val, y_val) # validação

<ipython-input-25-99f79f8b03d9>:25: DeprecationWarning: an integer is required (got type float).  Implicit conversion to integers using __int__ is deprecated, and may be removed in a future version of Python.
  f1 = torch.LongTensor(y_)                 # Label

In [28]:
adc = pd.read_csv(folder + 'Mat-adj-com-junc.csv', header=None)
#ads = pd.read_csv('Mat-adj-sem-junc.csv', header=None)

#ads = Msj

In [29]:
dist = np.array([[0,10,13,13,19,19,19,19], [10,0,3,3,9,9,9,9], [13,3,0,6,12,12,6,6],[13,3,6,0,6,6,12,12],[19,9,12,6,0,12,18,18],[19,9,12,6,12,0,18,18],[19,19,6,12,18,18,0,12],[19,9,6,12,18,18,12,0]])

In [30]:
dist1 = torch.from_numpy(dist)

In [31]:
#dist2 = torch.from_numpy(np.array(ads))

In [32]:
#dist2

In [33]:
dist_c_j = torch.from_numpy(np.array(adc))
#dist_s_j = torch.from_numpy(np.array(ads))

In [34]:
# converte a matriz de distância para matriz de Adjacêcnias (unitárias)

def Dist_to_Adj(Adj):
    for i in range(len(Adj)):
        for j in range(len(Adj)):
            if Adj[i][j] >= 1:
                Adj[i][j] = 1

    Adj1 = np.array(Adj)
    adj_matrices = torch.from_numpy(Adj1)

    return adj_matrices

In [35]:
#ads = ads.to_numpy()
#adc = adc.to_numpy()
#Adj_s_j = Dist_to_Adj(ads)
Adj_c_j = Dist_to_Adj(adc)

In [36]:
#Adj_s_j

In [37]:
#Adj_s_j_tensor = torch.stack((Adj_s_j, Adj_s_j)).type(torch.double)
Adj_c_j_tensor = torch.stack((Adj_c_j, Adj_c_j)).type(torch.double)

dist_c_j_tensor = torch.stack((dist1, dist1)).type(torch.double)
#dist_s_j_tensor = torch.stack((dist2, dist2)).type(torch.double)

In [38]:

torch.save(TrainDataset, folder +'train_dataset_050503.pt')
torch.save(TestDataset, folder +'test_dataset_050503.pt')
#torch.save(UnrelatedDataset,'unrelated_dataset_rev2.pt')

torch.save(dist_c_j_tensor, folder + 'dist_matrices_050503.pt')
torch.save(Adj_c_j_tensor, folder + 'adj_matrices_050503.pt')

#torch.save(dist_s_j_tensor, 'dist_matrices_s_0505_03.pt')
#torch.save(Adj_s_j_tensor, 'adj_matrices_s_0505_03.pt')

In [39]:
dist_c_j_tensor[0]

tensor([[ 0., 10., 13., 13., 19., 19., 19., 19.],
        [10.,  0.,  3.,  3.,  9.,  9.,  9.,  9.],
        [13.,  3.,  0.,  6., 12., 12.,  6.,  6.],
        [13.,  3.,  6.,  0.,  6.,  6., 12., 12.],
        [19.,  9., 12.,  6.,  0., 12., 18., 18.],
        [19.,  9., 12.,  6., 12.,  0., 18., 18.],
        [19., 19.,  6., 12., 18., 18.,  0., 12.],
        [19.,  9.,  6., 12., 18., 18., 12.,  0.]], dtype=torch.float64)

In [40]:
TrainDataset[0][0]

tensor([[0.6814],
        [0.6814],
        [0.7535],
        [0.3074],
        [0.3000],
        [0.4667],
        [0.6667],
        [0.6667]], dtype=torch.float64)