In [1]:
import numpy as np
import pandas as pd
import torch

from torch.utils.data import Dataset, DataLoader, TensorDataset

In [2]:
folder = 'dataset/'

#Msj = pd.read_csv('Mat-adj-sem-junc.csv')
Mcj = pd.read_csv(folder + 'Mat-adj-com-junc.csv')

# Sem Vazamento
df1 = pd.read_csv(folder + 'data_1.csv', header=None)
df2 = pd.read_csv(folder + 'data_2.csv', header=None)
df3 = pd.read_csv(folder + 'data_3.csv', header=None)
df4 = pd.read_csv(folder + 'data_4.csv', header=None)
df5 = pd.read_csv(folder + 'data_5.csv', header=None)
df6 = pd.read_csv(folder + 'data_6.csv', header=None)
df7 = pd.read_csv(folder + 'data_7.csv', header=None)
df8 = pd.read_csv(folder + 'data_8.csv', header=None)
df9 = pd.read_csv(folder + 'data_9.csv', header=None)
df10 = pd.read_csv(folder + 'data_10.csv', header=None)

#simulações com vazamento no nó 10  (dia inteiro)
df11 = pd.read_csv(folder + 'data_11.csv', header=None)#
df12 = pd.read_csv(folder + 'data_12.csv', header=None)
df13 = pd.read_csv(folder + 'data_13.csv', header=None)
df14 = pd.read_csv(folder + 'data_14.csv', header=None)
df15 = pd.read_csv(folder + 'data_15.csv', header=None)

#simulações com vazamento no nó 10 (meio dia)
df16 = pd.read_csv(folder + 'data_16.csv', header=None)
df17 = pd.read_csv(folder + 'data_17.csv', header=None)
df18 = pd.read_csv(folder + 'data_18.csv', header=None)
df19 = pd.read_csv(folder + 'data_19.csv', header=None)
df20 = pd.read_csv(folder + 'data_20.csv', header=None)

#simulações com vazamento no nó 11 (dia inteiro)
df21 = pd.read_csv(folder + 'data_21.csv', header=None)
df22 = pd.read_csv(folder + 'data_22.csv', header=None)
df23 = pd.read_csv(folder + 'data_23.csv', header=None)
df24 = pd.read_csv(folder + 'data_24.csv', header=None)
df25 = pd.read_csv(folder + 'data_25.csv', header=None)

#simulações com vazamento no nó 11 (meio dia)
df26 = pd.read_csv(folder + 'data_26.csv', header=None)
df27 = pd.read_csv(folder + 'data_27.csv', header=None)
df28 = pd.read_csv(folder + 'data_28.csv', header=None)
df29 = pd.read_csv(folder + 'data_29.csv', header=None)
df30 = pd.read_csv(folder + 'data_30.csv', header=None)

#5 simulações com vazamento no nó 12 (dia inteiro)
df31 = pd.read_csv(folder + 'data_31.csv', header=None)
df32 = pd.read_csv(folder + 'data_32.csv', header=None)
df33 = pd.read_csv(folder + 'data_33.csv', header=None)
df34 = pd.read_csv(folder + 'data_34.csv', header=None)
df35 = pd.read_csv(folder + 'data_35.csv', header=None)

#5 simulações com vazamento no nó 12 (meio dia)
df36 = pd.read_csv(folder + 'data_36.csv', header=None)
df37 = pd.read_csv(folder + 'data_37.csv', header=None)
df38 = pd.read_csv(folder + 'data_38.csv', header=None)
df39 = pd.read_csv(folder + 'data_39.csv', header=None)
df40 = pd.read_csv(folder + 'data_40.csv', header=None)

# simulações com vazamento no nó 13 (dia inteiro)
df41 = pd.read_csv(folder + 'data_41.csv', header=None)
df42 = pd.read_csv(folder + 'data_42.csv', header=None)
df43 = pd.read_csv(folder + 'data_43.csv', header=None)
df44 = pd.read_csv(folder + 'data_44.csv', header=None)
df45 = pd.read_csv(folder + 'data_45.csv', header=None)

# simulações com vazamento no nó 13 (meio dia)
df46 = pd.read_csv(folder + 'data_46.csv', header=None)
df47 = pd.read_csv(folder + 'data_47.csv', header=None)
df48 = pd.read_csv(folder + 'data_48.csv', header=None)
df49 = pd.read_csv(folder + 'data_49.csv', header=None)
df50 = pd.read_csv(folder + 'data_50.csv', header=None)

# simulações com vazamento de no nó 14 (dia inteiro)
df51 = pd.read_csv(folder + 'data_51.csv', header=None)
df52 = pd.read_csv(folder + 'data_52.csv', header=None)
df53 = pd.read_csv(folder + 'data_53.csv', header=None)
df54 = pd.read_csv(folder + 'data_54.csv', header=None)
df55 = pd.read_csv(folder + 'data_55.csv', header=None)

# simulações com vazamento de no nó 14 (meio dia)
df56 = pd.read_csv(folder + 'data_56.csv', header=None)
df57 = pd.read_csv(folder + 'data_57.csv', header=None)
df58 = pd.read_csv(folder + 'data_58.csv', header=None)
df59 = pd.read_csv(folder + 'data_59.csv', header=None)
df60 = pd.read_csv(folder + 'data_60.csv', header=None)

# simulações com vazamento de no nó N7 (dia inteiro)
df61 = pd.read_csv(folder + 'data_61.csv', header=None)
df62 = pd.read_csv(folder + 'data_62.csv', header=None)
df63 = pd.read_csv(folder + 'data_63.csv', header=None)
df64 = pd.read_csv(folder + 'data_64.csv', header=None)
df65 = pd.read_csv(folder + 'data_65.csv', header=None)

# simulações com vazamento de no nó N7 (meio dia)
df66 = pd.read_csv(folder + 'data_66.csv', header=None)
df67 = pd.read_csv(folder + 'data_67.csv', header=None)
df68 = pd.read_csv(folder + 'data_68.csv', header=None)
df69 = pd.read_csv(folder + 'data_69.csv', header=None)
df70 = pd.read_csv(folder + 'data_70.csv', header=None)

# simulações com vazamento de no nó N8 (dia inteiro)
df71 = pd.read_csv(folder + 'data_71.csv', header=None)
df72 = pd.read_csv(folder + 'data_72.csv', header=None)
df73 = pd.read_csv(folder + 'data_73.csv', header=None)
df74 = pd.read_csv(folder + 'data_74.csv', header=None)
df75 = pd.read_csv(folder + 'data_75.csv', header=None)

# simulações com vazamento de no nó N8 (meio dia)
df76 = pd.read_csv(folder + 'data_76.csv', header=None)
df77 = pd.read_csv(folder + 'data_77.csv', header=None)
df78 = pd.read_csv(folder + 'data_78.csv', header=None)
df79 = pd.read_csv(folder + 'data_79.csv', header=None)
df80 = pd.read_csv(folder + 'data_80.csv', header=None)

# simulações com vazamento de no nó N9 (dia inteiro)
df81 = pd.read_csv(folder + 'data_81.csv', header=None)
df82 = pd.read_csv(folder + 'data_82.csv', header=None)
df83 = pd.read_csv(folder + 'data_83.csv', header=None)
df84 = pd.read_csv(folder + 'data_84.csv', header=None)
df85 = pd.read_csv(folder + 'data_85.csv', header=None)

# simulações com vazamento de no nó N9 (meio dia)
df86 = pd.read_csv(folder + 'data_86.csv', header=None)
df87 = pd.read_csv(folder + 'data_87.csv', header=None)
df88 = pd.read_csv(folder + 'data_88.csv', header=None)
df89 = pd.read_csv(folder + 'data_89.csv', header=None)
df90 = pd.read_csv(folder + 'data_90.csv', header=None)

In [3]:
Header_tm = ['T(s)'] 
Header_vz = ['VZ2','VZ3','VZ4','VZ5','VZ6','VZ7','VZ8','VZ9'] 
Header_v = ['V2','V3','V4','V5','V6','V7','V8','V9'] 
Header_p = ['P2','P3','P4','P5','P6','P7','P8','P9'] 
Header_x = ['x2', 'x3', 'x4', 'x5','x6', 'x7', 'x8', 'x9']
Header_y = ['y2', 'y3', 'y4', 'y5','y6', 'y7', 'y8', 'y9'] 
Header_z = ['z2', 'z3', 'z4', 'z5','z6', 'z7', 'z8', 'z9'] 
Header_Lb = ['Lb_10', 'Lb_11','Lb_12', 'Lb_13', 'Lb_14', 'Lb_7', 'Lb_8', 'Lb_9'] 
Header_1214 = ['x', 'y', 'z'] 
Header_Week = ['week_day'] 

Header = Header_tm + Header_vz + Header_p + Header_v + Header_x + Header_y + Header_z + Header_Lb + Header_1214 + Header_Week


#Header = ['T(s)',,'P2','P7','P9','P12','P14' ,'V2',
 #         'V7','V9','V12','V14','X2', 'X7', 'X9', 'X12', 'X14', 'Y2', 'Y7', 'Y9',
  #        'Y12', 'Y14', 'Z2', 'Z7', 'Z9', 'Z12', 'Z14','LB3', 'LB5', 'LB9', 'LB11', 'LB13' ]

In [4]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:

fig_size = plt.rcParams["figure.figsize"]
fig_size[0] = 15
fig_size[1] = 5
plt.rcParams["figure.figsize"] = fig_size

In [6]:
'''
plt.title('Time x Pressure')
plt.ylabel('Pressure')
plt.xlabel('Time(s)')
plt.grid(True)
plt.autoscale(axis='x',tight=True)
#plt.plot(DataN[0])
plt.plot(df7['P2'])
'''

"\nplt.title('Time x Pressure')\nplt.ylabel('Pressure')\nplt.xlabel('Time(s)')\nplt.grid(True)\nplt.autoscale(axis='x',tight=True)\n#plt.plot(DataN[0])\nplt.plot(df7['P2'])\n"

In [7]:

# Nomalização dos dados - "opcional"

from sklearn import preprocessing

def Norm(Data):
    x = Data.values #returns a numpy array
    min_max_scaler = preprocessing.MinMaxScaler()
    x_scaled = min_max_scaler.fit_transform(x)
    Data = pd.DataFrame(x_scaled)
    
    return Data

In [8]:
np.shape(df70)

(145, 61)

In [9]:

#df1.columns = df2.columns = df3.columns = df4.columns = df5.columns \
#= df6.columns = df7.columns = df8.columns = df9.columns = df10.columns = df11.columns = df12.columns \


df1.columns = df2.columns = df3.columns = df4.columns = df5.columns = df6.columns \
= df7.columns = df8.columns = df9.columns = df10.columns = df11.columns = df12.columns \
= df13.columns = df14.columns = df15.columns = df16.columns = df17.columns = df18.columns = df19.columns \
= df20.columns = df21.columns = df22.columns = df23.columns = df24.columns = df25.columns \
= df26.columns = df27.columns = df28.columns = df29.columns = df30.columns \
= df31.columns = df32.columns = df33.columns = df34.columns = df35.columns \
= df36.columns = df37.columns = df38.columns = df39.columns = df40.columns \
= df41.columns = df42.columns = df43.columns = df44.columns = df45.columns \
= df46.columns = df47.columns = df48.columns = df49.columns = df50.columns \
= df51.columns = df52.columns = df53.columns = df54.columns = df55.columns \
= df56.columns = df57.columns = df58.columns = df59.columns = df60.columns \
= df61.columns = df62.columns = df63.columns = df64.columns = df65.columns \
= df66.columns = df67.columns = df68.columns = df69.columns = df70.columns \
= df71.columns = df72.columns = df73.columns = df74.columns = df75.columns \
= df76.columns = df77.columns = df78.columns = df79.columns = df80.columns \
= df81.columns = df82.columns = df83.columns = df84.columns = df85.columns \
= df86.columns = df87.columns = df88.columns = df89.columns = df90.columns = Header



#df1['T(s)'] = df2['T(s)'] = df3['T(s)'] = df4['T(s)'] = df5['T(s)'] = df6['T(s)'] = df7['T(s)'] = df8['T(s)'] = df9['T(s)'] = df_time

In [10]:
#Frames = [ df41, df71, df51, df81, df61, df91]

Frames = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, \
         df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25, df26, df27, \
         df28, df29, df30, df31, df32, df33, df34, df35, df36, df37, df38, df39, df40, df41, \
         df42, df43, df44, df45, df46, df47, df48, df49, df50, df51, df52, df53, df54, df55, \
         df56, df57, df58, df59, df60, df61, df62, df63, df64, df65, df66, df67, df68, df69, \
         df70, df71, df72, df73, df74, df75, df76, df77, df78, df79, df80, df81, df82, df83, \
         df84, df85, df86, df87, df88, df89, df90]
'''

Frames = [df9, df10, df11, df12, df13, df14, \
         df15, df21, df22, df23, df24, df25, \
         df28, df29, df30, df31, df32, df33, df34, df35, df41, \
         df42, df43, df44, df45, df51, df52, df53, df54, df55, \
         df61, df62, df63, df64, df65, \
         df71, df72, df73, df74, df75, df81, df82, df83, \
         df84, df85]
'''
#Frames = [df3, df7, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25, df26, df27, df28, df29, df30] 
    
#Frames = [df3, df7, df9, df10, df11, df12, df13, df14, \
 #         df15, df16, df17, df18, df19, df20, df21]    

Data = pd.concat(Frames, ignore_index=True)
Data_T = Data['T(s)']

In [11]:
Data.head()

,T(s),VZ2,VZ3,VZ4,VZ5,VZ6,VZ7,VZ8,VZ9,P2,...,Lb_12,Lb_13,Lb_14,Lb_7,Lb_8,Lb_9,x,y,z,week_day
0,0,1.85,0.3,1.0,0.15,0.4,1.85,0.55,1.3,59.322,...,0,0,0,0,0,0,0,0,0,1
1,600,1.85,0.3,1.0,0.15,0.4,1.85,0.55,1.3,59.322,...,0,0,0,0,0,0,0,0,0,1
2,1200,1.85,0.3,1.0,0.15,0.4,1.85,0.55,1.3,59.322,...,0,0,0,0,0,0,0,0,0,1
3,1800,1.85,0.3,1.0,0.15,0.4,1.85,0.55,1.3,59.322,...,0,0,0,0,0,0,0,0,0,1
4,2400,1.85,0.3,1.0,0.15,0.4,1.85,0.55,1.3,59.322,...,0,0,0,0,0,0,0,0,0,1

In [12]:
Data = Norm(Data)

Data.columns = Header

In [13]:
Data.head()

,T(s),VZ2,VZ3,VZ4,VZ5,VZ6,VZ7,VZ8,VZ9,P2,...,Lb_12,Lb_13,Lb_14,Lb_7,Lb_8,Lb_9,x,y,z,week_day
0,0.000000,0.049557,0.066739,0.166729,0.03339,0.066749,0.049557,0.026817,0.089675,0.975497,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.006944,0.049557,0.066739,0.166729,0.03339,0.066749,0.049557,0.026817,0.089675,0.975497,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.013889,0.049557,0.066739,0.166729,0.03339,0.066749,0.049557,0.026817,0.089675,0.975497,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.020833,0.049557,0.066739,0.166729,0.03339,0.066749,0.049557,0.026817,0.089675,0.975497,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.027778,0.049557,0.066739,0.166729,0.03339,0.066749,0.049557,0.026817,0.089675,0.975497,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
Data.columns

Index(['T(s)', 'VZ2', 'VZ3', 'VZ4', 'VZ5', 'VZ6', 'VZ7', 'VZ8', 'VZ9', 'P2',
       'P3', 'P4', 'P5', 'P6', 'P7', 'P8', 'P9', 'V2', 'V3', 'V4', 'V5', 'V6',
       'V7', 'V8', 'V9', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8', 'x9', 'y2',
       'y3', 'y4', 'y5', 'y6', 'y7', 'y8', 'y9', 'z2', 'z3', 'z4', 'z5', 'z6',
       'z7', 'z8', 'z9', 'Lb_10', 'Lb_11', 'Lb_12', 'Lb_13', 'Lb_14', 'Lb_7',
       'Lb_8', 'Lb_9', 'x', 'y', 'z', 'week_day'],
      dtype='object')

In [15]:
Data['T(s)'] = pd.DataFrame(Data_T).values

In [16]:
Data.head()

,T(s),VZ2,VZ3,VZ4,VZ5,VZ6,VZ7,VZ8,VZ9,P2,...,Lb_12,Lb_13,Lb_14,Lb_7,Lb_8,Lb_9,x,y,z,week_day
0,0,0.049557,0.066739,0.166729,0.03339,0.066749,0.049557,0.026817,0.089675,0.975497,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,600,0.049557,0.066739,0.166729,0.03339,0.066749,0.049557,0.026817,0.089675,0.975497,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1200,0.049557,0.066739,0.166729,0.03339,0.066749,0.049557,0.026817,0.089675,0.975497,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1800,0.049557,0.066739,0.166729,0.03339,0.066749,0.049557,0.026817,0.089675,0.975497,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2400,0.049557,0.066739,0.166729,0.03339,0.066749,0.049557,0.026817,0.089675,0.975497,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
# Equivalencia:
# N2 = N0
# N7 = N1
# N8 = N2
# N9 = N3
# N3 = N4
# N4 = N5
# N5 = N6
# N6 = N7

Data.loc[Data['Lb_10'] == 1,  'label'] = 1 
Data.loc[Data['Lb_11'] == 1,  'label'] = 4
Data.loc[Data['Lb_12'] == 1,  'label'] = 5 
Data.loc[Data['Lb_13'] == 1,  'label'] = 6 
Data.loc[Data['Lb_14'] == 1,  'label'] = 7 
Data.loc[Data['Lb_7'] == 1,  'label'] = 1 
Data.loc[Data['Lb_8'] == 1,  'label'] = 2 
Data.loc[Data['Lb_9'] == 1,  'label'] = 3 

Data.loc[(Data['Lb_10'] == 0) & (Data['Lb_11'] == 0) & \
         (Data['Lb_12'] == 0) & (Data['Lb_13'] == 0) & \
         (Data['Lb_14'] == 0) & (Data['Lb_7'] == 0) & \
         (Data['Lb_8'] == 0) & (Data['Lb_9'] == 0), 'label'] = 0

#df1.loc[df1['Lb_12'] == 1,  'label'] = 12 
#df1.loc[df1['Lb_14'] == 1,  'label'] = 14 
#df1.loc[(df1['Lb_14'] == 0) & (df1['Lb_12'] == 0), 'label'] = 0

In [18]:
Data = Data[(Data["T(s)"] % 1800 == 0)]

In [19]:
Data['label'].unique()

array([0., 6., 7., 1., 2., 3., 4., 5.])

In [20]:
Data['N0'] = Data[['P2']].values.tolist()
Data['N1'] = Data[['P7']].values.tolist()
Data['N2'] = Data[['P8']].values.tolist()
Data['N3'] = Data[['P9']].values.tolist()
Data['N4'] = Data[['P3']].values.tolist()
Data['N5'] = Data[['P4']].values.tolist()
Data['N6'] = Data[['P5']].values.tolist()
Data['N7'] = Data[['P6']].values.tolist()

# criando um novo dataset e separando em Data e Label.
NHeader = ['N0', 'N1', 'N2', 'N3', 'N4', 'N5', 'N6', 'N7']
#NHeader = ['N0', 'N1', 'N2', 'N3', 'N4']
DataN = Data[NHeader]

Label = Data['label']
Label = pd.DataFrame(Label)

In [21]:
DataN.head(2)

,N0,N1,N2,N3,N4,N5,N6,N7
0,[0.9754971428571426],[0.9765398396178124],[0.9767441860465114],[0.9765373538878539],[0.9765753598109148],[0.9763752953088087],[0.9768029301561909],[0.9769458456664026]
3,[0.9754971428571426],[0.9765398396178124],[0.9767441860465114],[0.9765373538878539],[0.9765753598109148],[0.9763752953088087],[0.9768029301561909],[0.9769458456664026]

In [22]:

DataN = DataN.to_numpy()
Label = Label.to_numpy()

from sklearn.model_selection import train_test_split

# Separar os dataset em treino, teste e validação nas proporções (70%, 15%, 15%)
train_ratio = 0.75
val_ratio = test_ratio = 0.25

x_train, x_test, y_train, y_test = train_test_split(DataN, Label, test_size = 1 - train_ratio, shuffle=True)
#testSize = (test_ratio/(test_ratio + val_ratio))
#x_val, x_test, y_val, y_test = train_test_split(x_test, y_test, test_size = testSize, shuffle=False)

In [23]:
def Tensor_Dataset1(x, y):

    # z = Como o algoritmo trabalha com multiplas topologias e o nosso tem apenas uma, 
    # criei um tensor que linka todos os dados a nossa matriz adjacência


    e = []
    z = torch.tensor(1, dtype=torch.int32) 
    A = []
    for a in range(np.shape(x)[0]):
        d = []
        for b in range(np.shape(x)[1]):
            c = np.array(x[a][b])        
            d.append(c)
            #print('d',d)
        e.append(d)
        A.append(z)
    
    y_ = []
    for i in y:
        #y_.append(y[i].item())
        y_.append(i.item())
        
    e1 = torch.Tensor(e).type(torch.double)   # X
    f1 = torch.LongTensor(y_)                 # Label
    A1 = torch.LongTensor(A)                  # Localização matriz Adjacência
    
    
    my_dataset = TensorDataset(e1, f1, A1)

    # my_dataset[0] - [X, Y, A]

    return my_dataset

In [24]:
TrainDataset = Tensor_Dataset1(x_train, y_train) 
TestDataset = Tensor_Dataset1(x_test, y_test)
#UnrelatedDataset = Tensor_Dataset1(x_val, y_val) # validação

<ipython-input-23-99f79f8b03d9>:25: DeprecationWarning: an integer is required (got type float).  Implicit conversion to integers using __int__ is deprecated, and may be removed in a future version of Python.
  f1 = torch.LongTensor(y_)                 # Label

In [25]:
adc = pd.read_csv(folder + 'Mat-adj-com-junc.csv', header=None)
#ads = pd.read_csv('Mat-adj-sem-junc.csv', header=None)

#ads = Msj

In [26]:
dist = np.array([[0,10,13,13,19,19,19,19], [10,0,3,3,9,9,9,9], [13,3,0,6,12,12,6,6],[13,3,6,0,6,6,12,12],[19,9,12,6,0,12,18,18],[19,9,12,6,12,0,18,18],[19,19,6,12,18,18,0,12],[19,9,6,12,18,18,12,0]])

In [27]:
dist1 = torch.from_numpy(dist)

In [28]:
#dist2 = torch.from_numpy(np.array(ads))

In [29]:
#dist2

In [30]:
dist_c_j = torch.from_numpy(np.array(adc))
#dist_s_j = torch.from_numpy(np.array(ads))

In [31]:
# converte a matriz de distância para matriz de Adjacêcnias (unitárias)

def Dist_to_Adj(Adj):
    for i in range(len(Adj)):
        for j in range(len(Adj)):
            if Adj[i][j] >= 1:
                Adj[i][j] = 1

    Adj1 = np.array(Adj)
    adj_matrices = torch.from_numpy(Adj1)

    return adj_matrices

In [32]:
#ads = ads.to_numpy()
#adc = adc.to_numpy()
#Adj_s_j = Dist_to_Adj(ads)
Adj_c_j = Dist_to_Adj(adc)

In [33]:
#Adj_s_j

In [34]:
#Adj_s_j_tensor = torch.stack((Adj_s_j, Adj_s_j)).type(torch.double)
Adj_c_j_tensor = torch.stack((Adj_c_j, Adj_c_j)).type(torch.double)

dist_c_j_tensor = torch.stack((dist1, dist1)).type(torch.double)
#dist_s_j_tensor = torch.stack((dist2, dist2)).type(torch.double)

In [35]:

torch.save(TrainDataset, folder +'train_dataset14_30m.pt')
torch.save(TestDataset, folder +'test_dataset14_30m.pt')
#torch.save(UnrelatedDataset,'unrelated_dataset_rev2.pt')

torch.save(dist_c_j_tensor, folder + 'dist_matrices.pt')
torch.save(Adj_c_j_tensor, folder + 'adj_matrices.pt')

#torch.save(dist_s_j_tensor, 'dist_matrices_s_0505_03.pt')
#torch.save(Adj_s_j_tensor, 'adj_matrices_s_0505_03.pt')

In [36]:
len(TrainDataset)

3307

In [37]:
len(TestDataset)

1103

In [38]:
Data.head()

,T(s),VZ2,VZ3,VZ4,VZ5,VZ6,VZ7,VZ8,VZ9,P2,...,week_day,label,N0,N1,N2,N3,N4,N5,N6,N7
0,0,0.049557,0.066739,0.166729,0.033390,0.066749,0.049557,0.026817,0.089675,0.975497,...,0.0,0.0,[0.9754971428571426],[0.9765398396178124],[0.9767441860465114],[0.9765373538878539],[0.9765753598109148],[0.9763752953088087],[0.9768029301561909],[0.9769458456664026]
3,1800,0.049557,0.066739,0.166729,0.033390,0.066749,0.049557,0.026817,0.089675,0.975497,...,0.0,0.0,[0.9754971428571426],[0.9765398396178124],[0.9767441860465114],[0.9765373538878539],[0.9765753598109148],[0.9763752953088087],[0.9768029301561909],[0.9769458456664026]
6,3600,0.022963,0.066739,0.066737,0.033390,0.066749,0.022963,0.026817,0.048297,0.987520,...,0.0,0.0,[0.9875199999999997],[0.9881846101347889],[0.9882665766260075],[0.9882686769439266],[0.9883087831849071],[0.9883142085723933],[0.9883383151601901],[0.9883686997123438]
9,5400,0.022963,0.066739,0.066737,0.033390,0.066749,0.022963,0.026817,0.048297,0.987520,...,0.0,0.0,[0.9875199999999997],[0.9881846101347889],[0.9882665766260075],[0.9882686769439266],[0.9883087831849071],[0.9883142085723933],[0.9883383151601901],[0.9883686997123438]
12,7200,0.016315,0.066739,0.066737,0.000058,0.066749,0.016315,0.016352,0.048297,0.988800,...,0.0,0.0,[0.9887999999999997],[0.9895069100836031],[0.9896171865107835],[0.9895815686938845],[0.9896171865107841],[0.9896220047249409],[0.9896855134088325],[0.9896610664109724]

NameError: name 'lss' is not defined